body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkslategray;
}

#board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    cursor: pointer;
    position: relative;
}

.tile {
    color: #fff;
    background-color: darkslategrey;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.tile:hover {
    color: #fff;
}

.right-border {
    border-right: 0.2rem solid #fff;
}
.bottom-border {
    border-bottom: 0.2rem solid #fff;
}
.strike {
    position:absolute;
    background-color: bisque;
}
.strike-row-1 {
    width: 100%;
    height: 4px;
    top: 15%;
}
.strike-row-2 {
    width: 100%;
    height: 4px;
    top: 48%;
}
.strike-row-3 {
    width: 100%;
    height: 4px;
    top:83%;
}
.strike-column-1 {
    width: 4px;
    height: 100%;
    left: 15%;
}
.strike-column-2 {
    width: 4px;
    height: 100%;
    left: 48%;
}
.strike-column-3 {
    width: 4px;
    height: 100%;
    left: 83%;
}
.strike-diagonal-1 {
    width: 90%;
    height: 4px;
    top: 50%;
    left: 5%;
    transform: skewY(-45deg);
}
.strike-diagonal-2 {
    width: 90%;
    height: 4px;
    top: 50%;
    left: 5%;
    transform: skewY(45deg);
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
.x-hover:hover::after {
    content: 'X';
    opacity: 40%;
}
.o-hover:hover::after {
    content: 'O';
    opacity: 40%;
}
h1 {
    color: #fff;
}
h2 {
    color: #fff;
}
#game-over-area {
    text-align: center;
    border: #fff 4px solid;
    padding: 50px;
    width: 50%;
    margin-top: 50px;
}